* {
  transition: all .2s ease-in-out;
}

#root {
  margin: auto;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root>* {
  margin: auto;
}

header,
.skills-container,
.projects {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

header>h1 {
  margin-bottom: 0;

  animation-duration: 0.75s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideDown;
}

header>h2 {
  animation-duration: 1.25s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideDown;
}

header>h6 {
  margin-top: 0;

  animation-duration: 2.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideDown;
}

.move {
  position: sticky;
  bottom: 0;
  width: 100vw;
  background-color: #3d3d3d;
  display: flex;
  align-items: center;
  justify-content: space-around;

  animation-name: growToFrame;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.skills {
  width: 80vw;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 25px;
  justify-items: center;
}

.skill {
  background-color: #fff7ed;
  width: 100px;
  border-radius: 25%;
  padding: 25px 5px;
}

.skill-image {
  object-fit: contain;
  width: 50px;
  height: 50px;
}

.skill-name {
  font-size: 1vw;
  font-weight: 500;
  margin: 0;
  margin-bottom: 2px;

  position: absolute;
  opacity: 0;
  user-select: none;
}

.skill:hover {
  background-color: black;
}

.skill:hover .skill-image {
  opacity: 0;
}

.skill:hover .skill-name {
  opacity: 100%;
  color: white;
  transform: translateY(100%);
}

.skill:hover .skill-image {
  opacity: 0%;
  transform: translateY(-50%);
}

.skills-sub {
  grid-column: 1 / -1;
}

.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 0;
}

.contact-info {
  height: 75%;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-info>a {
  border-radius: 10%;
  padding: 25px;
}

.contact-info>:first-child {
  border-radius: 25px 25px;
  border-top-left-radius: 0;
}

.contact-info>:last-child {
  border-radius: 25px 0 25px 25px;
  border-top-right-radius: 0;
}

.project-image {
  object-fit: contain;
  width: 50%;
  border: 0.5rem solid black;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-buttons,
.project-links {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.projects-buttons {
  margin-top: 2%;
}

.projects-buttons>button,
.project-links>a {
  border-radius: 5%;
}

.project-text {
  font-size: 1.25rem;
}

.project-skills {
  font-weight: 800;
}

.project-mobile-image {
  width: 125px;
  position: absolute;
  right: 26%;
  bottom: 10%;
  border-radius: 4%;
  border: 2px solid black;
}

.contact-info>a:hover {
  border-radius: 10%;
  color: white;
  background-color: black;
}

.hidden {
  opacity: 0;
}

@media screen and (max-width: 600px) {
  .skill-name {
    font-size: 1rem;
    position: initial;
    opacity: 100;
  }

  .skill {
    padding: 0;
  }

  .project-image {
    display: none;
  }

  .project-mobile-image {
    position: initial;
  }

  header,
  .skills-container,
  .projects {
    height: auto;
  }
}

@keyframes growToFrame {
  0% {
    transform: scale(0, .025);
  }

  50% {
    transform: scale(1, .025);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  50% {
    opacity: 0;
    transform: translateY(-25%);
  }

  100% {
    opacity: 100;
    transform: translateY(0);
  }
}